@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", monospace;
  background-color: var(--secondary-color);
  min-height: 100vh;
}

main {
  height: 100%;
  max-width: 1600px;
  background-color: var(--white);
  border-radius: 0px 0px 18px 18px;
  container-name: main;
  container-type: inline-size;
  margin-bottom: 64px;
  margin-left: 220px;
  margin-right: 24px;
  padding-top: 108px;
}

.header-top {
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);
}

/* ------------------------------------- */
.header-top-logo img {
  width: 100px;
}

.header-top-menu {
  display: flex;
}

/* ---------------------------------------- */
.header-top-sair {
  display: flex;
  align-items: center;
}

.header-top-sair a {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #5500ff;
  display: flex;
}

.header-top-sair img {
  width: 25px;
  margin-left: 12px;
}

/* ------------------------------------------- */
/* Menu hamburguer */

.mobile-menu {
  cursor: pointer;
  display: none;
  margin-right: 8px;
}

.mobile-menu div {
  width: 24px;
  height: 2px;
  background: #5500ff;
  margin: 6px auto;
  transition: 0.3s;
}

/* ====================================================================================================================================== */
.container {
  display: flex;
}

.nav-aside {
  position: fixed;
  left: 0;
  top: 90px;
  padding-top: 16px;
}

.nav-aside-selected {
  background-color: #fff;
  color: #7900fd !important;
}

.nav-aside a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  padding: 8px 28px;
  text-align: left;
  transition: border 0.3s ease 0s;
  border-radius: 10px;
  border: 2px solid transparent;
  letter-spacing: 0.08rem;
}

.nav-aside a:hover {
  border: 2px solid white;
}

.nav-aside li {
  width: 170px;
  list-style: none;
  display: flex;
  margin: 4px;
  flex-direction: column;
}

.nav-aside ul {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  main {
    margin-left: 24px;
    padding-top: 68px;
  }

  .header-top {
    height: 64px;
    padding: 12px;
  }

  .header-top-sair span {
    display: none;
  }

  .header-top-logo img {
    width: 64px;
  }

  .nav-aside {
    position: initial;
  }

  .nav-list {
    position: absolute;
    right: 0;
    background: #7900fd;
    top: 64px;
    margin: 0;
    padding: 10px;
    width: 40vw;
    height: calc(100vh - 64px);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #5500ff4f;
    border-top: none;
    border-bottom-left-radius: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.4);
  }

  .nav-aside li {
    width: 150px;
  }

  .nav-list li {
    margin-left: 0;
  }

  .nav-list a {
    color: #fff;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-4px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-4px, -8px);
}

/* ======================================================================================================================================== */

#user-list {
  padding: 0.5rem 2rem 1rem;
}

#user-list-table tr th {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--gray-500);
  padding-block: 0.875rem;
  border-top: none !important;
}

#user-list-table tr {
  cursor: pointer;
}

#user-list-table tr td {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-700);
}

.btn__login {
  background-color: var(--primary-color);
  padding: 6px 14px;
  font-size: 0.7rem;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 6px;
}

@keyframes hideColumn {
  0% {
    visibility: visible;
    display: flex;

    transform: translateX(0px);
    opacity: 1;
  }

  50% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    visibility: hidden;
    display: none;
  }
}

@keyframes appearColumn {
  0% {
    visibility: hidden;
    display: none;
  }

  49% {
    visibility: visible;
    display: flex;
    opacity: 0;
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1 !important;
  }
}

.table__col__protocol,
.table__col__email,
.table__col__idnetwork,
.table__col__access,
.table__col__backoffice {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.user__info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}

.user__info h4 {
  font-size: 1rem;
  color: var(--gray-500);
}

.user__info span {
  font-size: 1rem;
  color: var(--gray-800);
  font-weight: 600;
}

.user__protocol {
  margin-top: 1rem;
  padding-inline: 1.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.user__protocol h4,
.user__status h4 {
  font-size: 0.875rem;
  color: var(--gray-500);
  font-weight: 600;
}

.user__protocol span {
  font-size: 2rem;
  color: var(--gray-800);
  font-weight: 600;
}

.user__status__item {
  width: 80px;
}

.user__data__status {
  font-size: 0.875rem;
  padding: 4px 16px;
  background-color: rgba(85, 0, 255, 0.15);
  color: var(--primary-color);
  font-weight: 700;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  display: block;
  margin-top: 2px;
}

.user__data__status-yes {
  background-color: rgba(83, 196, 26, 0.15);
  border: 2px solid var(--success);
  color: var(--success);
}

.user__data__status-not {
  background-color: rgba(245, 34, 45, 0.15);
  border: 2px solid var(--danger);
  color: var(--danger);
}

.btn__login__modal {
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 8px;
  font-weight: 500;
}

.btn__login__modal:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--white);
}

.btn__close__modal {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
}

.btn__close__modal:hover {
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

@media screen and (min-width: 440px) {
  .table__col__protocol {
    display: table-cell;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 540px) {
  .table__col__email {
    display: table-cell;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 815px) {
  .table__col__idnetwork {
    display: table-cell;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 890px) {
  .table__col__access {
    display: table-cell;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 980px) {
  .table__col__backoffice {
    display: table-cell;
    opacity: 1;
    visibility: visible;
  }
}

/* PAGINA MONITOR */

.stats-section {
  background-color: #fff;
  border: 2px solid #e3e3e3;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 1rem;
}

.stats-section-card .stats-section-card-title {
  color: #999;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.stats-section-card .stats-section-card-value {
  font-size: 1.8rem;
  font-weight: 300;
}
.stats-section-card .stats-section-card-body {
  display: flex;
  flex-direction: column;
}
.stats-section-card .stats-section-card-footer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.stats-section-card .stats-section-card-footer small {
  text-transform: uppercase;
  padding-right: 15px;
  font-size: 0.55rem;
  color: #afafaf;
}

.stats-section-card-list {
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
}

.stats-section-card-list-item {
  list-style: none;
  position: relative;
  padding: 1rem 0rem;
}

.stats-section-card-list-item:not(:last-child):before {
  content: "";
  width: 90%;
  height: 2px;
  margin-top: 5%;
  background-color: #b6b6b6;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 460px) {
  .stats-section-card-list-item:nth-child(even) .stats-section-card {
    padding: 0 1rem;
  }

  .stats-section-card-list-item:not(:last-child):before {
    display: none;
  }

  .stats-section-card-list-item:nth-child(even):before {
    content: "";
    display: block;
    width: 2px;
    height: 90%;
    margin-top: 5%;
    background-color: #b6b6b6;
    position: absolute;
  }
  .stats-section-card-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1048px) {
  .stats-section-card-list-item + .stats-section-card-list-item::before {
    content: "";
    width: 2px;
    height: 90%;
    margin-top: 5%;
    background-color: #b6b6b6;
    position: absolute;
    display: block;
  }

  .stats-section-card-list-item
    + .stats-section-card-list-item
    .stats-section-card {
    padding: 0 2rem;
  }

  .stats-section-card-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}

.box-status h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-800);
}

.box-status ul {
  padding-left: 1.5rem;
}

.box-status li {
  list-style-image: url(/idwall/assets/brand/offline.svg);
  padding: 6px 4px;
}

.box-status li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.protocol-list {
  list-style: none;
  padding-left: 0px;
  padding-top: 12px;
}

.protocol-list li {
  padding: 8px 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.protocol-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.protocol-id {
  color: var(--gray-800);
}

.protocol-name {
  color: var(--primary-color);
}

.usuario-titulo {
  font-size: 18px;
  font-weight: 600;
  padding: 0px 1rem 0px 0px;
  margin-bottom: 0px !important;
}

.table-control {
  display: flex;
}

.table-control input {
  border: none;
  outline: none;
  background-color: var(--bg-1);
  border-radius: 8px 0px 0px 8px;
  padding: 4px 12px;
}

.table-control button {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 0px 8px 8px 0px;
  padding: 4px 12px;
  color: var(--white);
  font-size: 12px;
  transition: background-color 0.25s ease-in-out;
}

.table-control button img {
  width: 14px;
}

.btn-filter,
.btn-adicionar {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 4px 12px !important;
  border-radius: 8px;
}

.btn-adicionar {
  border: none;
  padding: 6px 12px !important;
}
.btn-filter:hover,
.table-control button:hover,
.btn-adicionar:hover {
  background-color: var(--secondary-color) !important;
  color: var(--white) !important;
}

.dropdown-menu {
  background-color: rgb(238, 238, 238);
}

.form-check-input {
  display: flex;
  align-items: center;
  position: absolute !important;
  right: -12px !important;
  top: 0px !important;
}

.dropdown {
  display: flex !important;
}

.dropdown-menu {
  width: 238px;
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  padding-left: 1rem !important;
}

.filter-list {
  list-style: none;
  padding-left: 0px !important;
}

.filter-item {
  padding: 0px !important;
  display: flex;
  position: relative;
  padding-right: 24px !important;
}

.filter-title {
  font-size: 16px;
  font-weight: 500;
  padding: 0.5rem 1rem 0rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 1rem;
}
.pagination-data {
  margin-right: 12px;
  font-size: 14px;
}

.pagination-icon {
  margin-right: 8px;
  cursor: pointer;
}

.pagination-icon:hover svg path {
  fill: var(--primary-color) !important;
}

.pagination-icon svg {
  height: 14px;
  width: 14px;
}

.user-page-title {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 640px) {
  .user-page-title {
    width: auto;
    margin-bottom: 0rem;
  }

  .btn-filter,
  .btn-adicionar {
    margin-left: 12px;
  }
}
